<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.conductormitra">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.example.conductormitra.permission.MAPS_RECEIVE"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBUqCXmMpZWjfZ_FkaRyAZsxsb2h1BoLQI">
        </meta-data>


        <activity android:name=".CalcuDemo">

        </activity>
        <activity android:name=".EmergencyHelp" />
        <activity android:name=".ContactUs" />
        <activity android:name=".TodayPassanger" />
        <activity android:name=".LiveLocation" />
        <activity android:name=".CheckListActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".CalculatorActivity" />
        <activity android:name=".Check_TicketHome" />
        <activity android:name=".HomeScreen" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>